/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

// USM Brand Colors - Primary
$usm-blue: #002752;
$usm-gold: #F5A800;



// USM Brand Colors - Secondary (from brand guidelines)
// Use these for accent colors, highlights, and variety in visualizations
$usm-green: #268133;  // Secondary accent color
$usm-ltgreen: #CCDF7F;
$usm-dkgreen: #2B3E1A;
$usm-dkbluegreen: #012F33;
$usm-dkblue: #0E1033;

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
/*$presentation-heading-color: #3A5883;*/
/* Pantone Midnight - Fall 2022 */
$link-color: #00aeef;
$code-color: #6d276a;
$background-color: #e8d3d3;
$code-block-font-size: 0.7em;
$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 28px !default;
/*-- scss:rules --*/

details>summary {
  font-size: 0.5em;
}

#title-slide .subtitle {
  color: $usm-gold;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

#title-slide .title {
  text-align: center;
  color: $usm-gold;
}

#title-slide .quarto-title-author {
  text-align: center;
  color: #ffffff !important;
}

#title-slide .institute {
  color: #9fa1a4;
  text-align: center;
  padding-bottom: 200px;
}

#title-slide .date {
    color: #9fa1a4;
    font-size: 0.7em;
    /* or any other color you'd like */
}

/* Background color set in YAML with title-slide-attributes */
/*
#title-slide {
    background-color: #163e70;
}
*/

/* for forcing text color in various elements */
.text-gold {
  color: $usm-gold !important;
}

.reveal h1 {
  color: $usm-gold; // or any color you prefer
}

.reveal h2 {
  color: $usm-dkgreen; // or any color you prefer
  font-size: 1.75em;
}

.small {
  font-size: 0.75em;
}

.smallest {
  font-size: 0.5em;
}

.large {
  font-size: 1.5em;
}

.medium {
  font-size: 0.9em;
}

.center-align {
  text-align: center;
}

.reveal .hand {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.2em
}

.reveal .slide .task {
  padding-right: 0cappx;
  padding-left: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 0px #F1DE67;
  background-color: #F1DE6750;
}

.reveal pre code {
  width: 1200px;
}

/*
.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
  background-color: white;
}
*/


.reveal .footer {
  color: #866fa3;
  /* background-color: white; */
  text-align: left !important;
  padding-left: 1em; /* Optional: Add some spacing from edge */
}

.reveal .slide:first-child .footer {
  display: none !important;
}

.reveal .slide[data-title-slide="true"] .footer {
  display: none !important;
}

strong, b {
  color: $usm-gold;   
}


// Make italic text use USM green
em, i {
  color: $usm-dkbluegreen;
  font-style: italic;
}

.hex-container {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-230%);
  display: flex;
  gap: 10px; /* Space between images */
}

.hex-sticker {
  width: 80px; /* Adjust as needed */
}


